
@{
    ViewBag.Title = "ChaoMungNCC";
    Layout = "~/Views/Layout/_LayoutNhaCungCap.cshtml";
}

<div data-v-0c861202="" data-v-55869c48="" class="welcome card">
    <div data-v-0c861202="" class="onboarding-welcome" page_id="3033">
        <img src="https://deo.shopeesz.com/shopee/pap-admin-live-sg/upload/upload_9dab85081088531ee6d1aa958a90f55e.png" alt="welcome" class="onboarding-welcome__img">
        <h3 class="onboarding-welcome__title">Chào mừng đến Nông Sản Zeno!</h3>
        <p class="onboarding-welcome__desc">Để đăng ký nhà cung cấp trên Nông Sản Zeno, bạn cần cung cấp một số thông tin cơ bản.</p>
        <button type="button" class="onboarding-welcome__btn shopee-button shopee-button--primary shopee-button--normal">
            <a href="/NhaCungCap/DangKyNCC">
                Đăng ký
            </a>
        </button>
    </div>
</div>