
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Layout/_LayoutNhaCungCap.cshtml";
}

<div data-v-54000082="" data-v-55869c48="" class="onboarding">
    <div data-v-54000082="" class="onboarding-layout onboarding-layout">
        <div class="onboarding-layout__header">
            <div data-v-54000082="" class="flows-header"><!----></div>
        </div>
        <div class="onboarding-layout__main">
            <div class="onboarding-layout__content onboarding-layout__card">
                <div class="content">
                    <div data-v-54000082="" class="flow-content">
                        <div data-v-54000082="" class="flow-step-content">
                            <div data-v-54000082="" class="steps-header">
                                <div data-v-54000082="" class="onboarding-steps has-split" current="0">
                                    <div class="onboarding-steps__wrap shopee-steps shopee-steps-label-vertical shopee-steps-auto-width shopee-steps-dot shopee-steps-max-width">
                                        <div class="onboarding-steps__item shopee-step active shopee-step-dot">
                                            <div class="shopee-step__head">
                                                <span class="shopee-step__head-dot"></span>
                                            </div>
                                            <div class="shopee-step__content shopee-step__content-single">
                                                <div class="shopee-tooltip shopee-popover shopee-popover--dark">
                                                    <div class="shopee-popover__ref">
                                                        <div class="shopee-step-title">
                                                            <span>Thêm thông tin nhà cung cấp</span>
                                                        </div>
                                                    </div>
                                                    <div class="shopee-popper shopee-popover__popper shopee-popover__popper--dark shopee-tooltip__popper" style="display: none; max-width: 280px;">
                                                        <div class="shopee-popover__content">Cài đặt thông tin nhà cung cấp</div>
                                                    </div>
                                                </div>
                                                <div class="shopee-tooltip shopee-popover shopee-popover--dark">
                                                    <div class="shopee-popover__ref">
                                                        <div class="shopee-step-desc">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                    <div class="shopee-popper shopee-popover__popper shopee-popover__popper--dark shopee-tooltip__popper" style="display: none; max-width: 280px;">
                                                        <div class="shopee-popover__content"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shopee-step__tail"></div>
                                        </div>
                                        <div class="onboarding-steps__item shopee-step disabled shopee-step-dot">
                                            <div class="shopee-step__head">
                                                <span class="shopee-step__head-dot"></span>
                                            </div>
                                            <div class="shopee-step__content shopee-step__content-single">
                                                <div class="shopee-tooltip shopee-popover shopee-popover--dark">
                                                    <div class="shopee-popover__ref">
                                                        <div class="shopee-step-title">
                                                            <span>Cài đặt vận chuyển</span>
                                                        </div>
                                                    </div>
                                                    <div class="shopee-popper shopee-popover__popper shopee-popover__popper--dark shopee-tooltip__popper" style="display: none; max-width: 280px;">
                                                        <div class="shopee-popover__content">Cài đặt vận chuyển</div>
                                                    </div>
                                                </div>
                                                <div class="shopee-tooltip shopee-popover shopee-popover--dark">
                                                    <div class="shopee-popover__ref">
                                                        <div class="shopee-step-desc">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                    <div class="shopee-popper shopee-popover__popper shopee-popover__popper--dark shopee-tooltip__popper" style="display: none; max-width: 280px;">
                                                        <div class="shopee-popover__content"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shopee-step__tail"></div>
                                        </div>
                                        <div class="onboarding-steps__item shopee-step disabled shopee-step-dot">
                                            <div class="shopee-step__head">
                                                <span class="shopee-step__head-dot"></span>
                                            </div>
                                            <div class="shopee-step__content shopee-step__content-single">
                                                <div class="shopee-tooltip shopee-popover shopee-popover--dark">
                                                    <div class="shopee-popover__ref">
                                                        <div class="shopee-step-title">
                                                            <span>Cung cấp sản phẩm</span>
                                                        </div>
                                                    </div>
                                                    <div class="shopee-popper shopee-popover__popper shopee-popover__popper--dark shopee-tooltip__popper" style="display: none; max-width: 280px;">
                                                        <div class="shopee-popover__content">Cung cấp sản phẩm</div>
                                                    </div>
                                                </div>
                                                <div class="shopee-tooltip shopee-popover shopee-popover--dark">
                                                    <div class="shopee-popover__ref">
                                                        <div class="shopee-step-desc">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                    <div class="shopee-popper shopee-popover__popper shopee-popover__popper--dark shopee-tooltip__popper" style="display: none; max-width: 280px;">
                                                        <div class="shopee-popover__content"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shopee-step__tail"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div data-v-54000082="" class="step-content">
                                <div data-v-2d25782e="" data-v-54000082="" class="common-form">
                                    <form data-v-2d25782e="" autocomplete="off" class="shopee-form shopee-form--label-right">
                                        <div data-v-2d25782e="">
                                            <div data-v-2d25782e="" class="onboarding-form-item" prop="form_5_component_13_input" context="[object Object]" editable="1" label="Tên Shop" page_id="3016" required="required" maxlength="30" rules="[object Object]" show-word-limit="true">
                                                <div class="shopee-form-item onboarding-form-item__inner" context="[object Object]" editable="1" page_id="3016" maxlength="30" show-word-limit="true" extra="">
                                                    <label for="form_5_component_13_input" class="shopee-form-item__label">
                                                        <span class="shopee-form-item__reqiured">*</span> Tên Nhà cung cấp
                                                    </label>
                                                    <div class="shopee-form-item__control">
                                                        <div class="shopee-form-item__content">
                                                            <div data-v-2d25782e="" class="onboarding-input" componentid="form_5_component_13_input" context="[object Object]" formdata="[object Object]" globalformdata="[object Object]" extra="" label="Tên Shop" page_id="3016" required="required" maxlength="30" rules="[object Object]" show-word-limit="true" style="width: 384px;">
                                                                <div class="shopee-input" componentid="form_5_component_13_input" context="[object Object]" formdata="[object Object]" globalformdata="[object Object]" extra="" label="Tên Shop" page_id="3016" rules="[object Object]">
                                                                    <div class="shopee-input__inner shopee-input__inner--normal">
                                                                        <!---->
                                                                        <input type="text" placeholder="Nhập vào" resize="vertical" rows="2" minrows="2" required="required" maxlength="30" restrictiontype="input" showwordlimit="true" max="Infinity" min="-Infinity" class="shopee-input__input">
                                                                        <div class="shopee-input__suffix">
                                                                            <!----><!---->
                                                                            <span class="shopee-input__count">@*0/30*@</span>
                                                                            <!----><!---->
                                                                        </div>
                                                                    </div>
                                                                    <!----><!----><!----><!----><!---->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!---->
                                                        <div class="shopee-form-item__extra"><!----></div>
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                        <div data-v-2d25782e="">
                                            <div data-v-2d25782e="" class="onboarding-form-item" prop="form_5_component_15_address" context="[object Object]" editable="1" label="Địa chỉ lấy hàng" page_id="3020" required="required" getshopaddress="function () { [native code] }" getshopaddressid="function () { [native code] }" region="vn" rules="[object Object]">
                                                <div class="shopee-form-item onboarding-form-item__inner" context="[object Object]" editable="1" page_id="3020" getshopaddress="function () { [native code] }" getshopaddressid="function () { [native code] }" region="vn" extra="">
                                                    <label for="form_5_component_15_address" class="shopee-form-item__label">
                                                        <span class="shopee-form-item__reqiured">*</span> Địa chỉ lấy hàng
                                                    </label>
                                                    <div class="shopee-form-item__control">
                                                        <div class="shopee-form-item__content">
                                                            <div data-v-7e3a9d56="" data-v-2d25782e="" class="pickup-address" componentid="form_5_component_15_address" context="[object Object]" editable="1" formdata="[object Object]" globalformdata="[object Object]" extra="" label="Địa chỉ lấy hàng" page_id="3020" required="required" region="vn" rules="[object Object]">
                                                                <button data-v-7e3a9d56="" type="button" class="shopee-button shopee-button--normal"><span>+ Thêm</span></button>
                                                                <!----> <!----> <!---->
                                                            </div>
                                                        </div>
                                                        <!---->
                                                        <div class="shopee-form-item__extra"><!----> </div>
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                        <div data-v-2d25782e="">
                                            <div data-v-2d25782e="" class="onboarding-form-item" prop="form_5_component_17_email" context="[object Object]" editable="2" label="Email" page_id="3024" required="required" maxlength="128" region="vn" rules="[object Object]" show_word_limit="true">
                                                <div class="shopee-form-item onboarding-form-item__inner" context="[object Object]" editable="2" page_id="3024" maxlength="128" region="vn" show_word_limit="true" extra="">
                                                    <label for="form_5_component_17_email" class="shopee-form-item__label">
                                                        <span class="shopee-form-item__reqiured">*</span> Email
                                                    </label>
                                                    <div class="shopee-form-item__control">
                                                        <div class="shopee-form-item__content">
                                                            <div data-v-2d25782e="" class="onboarding-input" componentid="form_5_component_17_email" context="[object Object]" formdata="[object Object]" globalformdata="[object Object]" extra="" label="Email" page_id="3024" required="required" maxlength="128" region="vn" rules="[object Object]" show_word_limit="true" style="width: 384px;">
                                                                <div class="shopee-input" componentid="form_5_component_17_email" context="[object Object]" formdata="[object Object]" globalformdata="[object Object]" extra="" label="Email" page_id="3024" region="vn" rules="[object Object]" show_word_limit="true">
                                                                    <div class="shopee-input__inner shopee-input__inner--normal">
                                                                        <!---->
                                                                        <input type="text" placeholder="Nhập vào" resize="vertical" rows="2" minrows="2" required="required" maxlength="128" restrictiontype="input" max="Infinity" min="-Infinity" class="shopee-input__input">
                                                                        <!---->
                                                                    </div>
                                                                    <!----><!----><!----><!----><!---->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!---->
                                                        <div class="shopee-form-item__extra"><!----> </div>
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                        <div data-v-2d25782e="">
                                            <div data-v-2d25782e="" class="onboarding-phone-vcode-input" id="form_5_component_19_phoneId" formdata="[object Object]" globalformdata="[object Object]" extra="Nếu muốn đổi số điện thoại, bạn vui lòng chỉnh sửa tại &quot;<a href='https://shopee.vn/user/account/profile' target='_blank'>Hồ sơ của tôi</a>&quot; ở trang chủ shopee.vn sau khi hoàn tất quá trình đăng ký" label="Số điện thoại" page_id="3028" required="required" fieldkey="phone">
                                                <div class="onboarding-form-item" rules="[object Object]" prop="form_5_component_19_phone.phone" id="form_5_component_19_phoneId" formdata="[object Object]" globalformdata="[object Object]" label="Số điện thoại" page_id="3028" required="required" fieldkey="phone">
                                                    <div class="shopee-form-item shopee-form-item--error onboarding-form-item__inner" id="form_5_component_19_phoneId" formdata="[object Object]" globalformdata="[object Object]" page_id="3028" fieldkey="phone" extra="Nếu muốn đổi số điện thoại, bạn vui lòng chỉnh sửa tại &quot;<a href='https://shopee.vn/user/account/profile' target='_blank'>Hồ sơ của tôi</a>&quot; ở trang chủ shopee.vn sau khi hoàn tất quá trình đăng ký">
                                                        <label for="form_5_component_19_phone.phone" class="shopee-form-item__label">
                                                            <span class="shopee-form-item__reqiured">*</span> Số điện thoại
                                                        </label>
                                                        <div class="shopee-form-item__control">
                                                            <div class="shopee-form-item__content">
                                                                <div class="onboarding-phone-input">
                                                                    <div>
                                                                        <div class="shopee-input" style="width: 384px;">
                                                                            <div class="shopee-input__inner shopee-input__inner--normal">
                                                                                <div class="shopee-input__prefix">
                                                                                    +84
                                                                                    <span class="shopee-input__prefix-split"></span><!----><!---->
                                                                                </div>
                                                                                <input type="text" placeholder="Nhập vào" resize="vertical" rows="2" minrows="2" restrictiontype="input" max="Infinity" min="-Infinity" class="shopee-input__input">
                                                                                <!---->
                                                                            </div>
                                                                            <!----><!----><!----><!----><!---->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shopee-form-item__error">@*Component can not be edited*@</div>
                                                            <div class="shopee-form-item__extra">
                                                                <div class="onboarding-extra-text">
                                                                    Nếu muốn đổi số điện thoại, bạn vui lòng chỉnh sửa tại "
                                                                    <a href="/user/profile" target="_blank">Hồ sơ của tôi</a>" ở trang chủ Nông Sản Zeno sau khi hoàn tất quá trình đăng ký
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="onboarding-layout__footer">
                    <div data-v-54000082="" class="footer">
                        <div data-v-54000082=""><!----></div>
                        <div data-v-54000082="">
                            <button data-v-54000082="" type="button" class="action-btn save-btn shopee-button shopee-button--normal">
                                <span>Lưu</span>
                            </button>
                            <button data-v-54000082="" type="button" class="action-btn next-btn shopee-button shopee-button--primary shopee-button--normal">
                                <span>Tiếp theo</span>
                            </button>
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
            <div class="onboarding-layout__aside onboarding-layout__card"></div>
        </div>
    </div>
</div>