
@{
    ViewBag.Title = "AnToanThucPham";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div id="content" class="content-area page-wrapper" role="main">
    <div class="row row-main">
        <div class="large-12 col">
            <div class="col-inner">
                <h2 style="text-align: center;">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 120%;">
                        <strong>
                            <span style="color: #282828;">TUYỂN ĐẠI LÝ PHÂN PHỐI THỰC PHẨM KHÔ, THỰC PHẨM TƯƠI, ĐẶC SẢN VÙNG MIỀN, GIÁ CẠNH TRANH, UY TÍN, LỢI NHUẬN CAO</span>
                        </strong>
                    </span>
                </h2>
                <p>
                    <strong>Nông sản Zeno</strong>
                    – đơn vị tiên phong trong lĩnh vực phân phối nông sản, đặc sản vùng miền truy xuất nguồn gốc,
                    an toàn, tự nhiên theo tiêu chuẩn VietGap tại Việt Nam. Hiện nay, các sản phẩm của Zeno đã có mặt ở hầu hết các cửa hàng thực phẩm sạch,
                    siêu thị lớn trên toàn quốc sử dụng trong nấu ăn, chăm sóc sức khỏe, làm đẹp hàng ngày,… được khách hàng tin dùng,
                    có thể kể đến như hệ thống siêu thị uy tín hàng đầu Việt Nam
                    <strong>VinMart, Siêu thị Hàn Quốc K-Mart, siêu thị Co-op Mart,…</strong>
                </p>
                <h3>
                    <span style="font-size: 120%; font-family: arial, helvetica, sans-serif;">
                        <strong>
                            <span style="color: #282828;">TIÊU CHÍ SẢN PHẨM ĐƯỢC PHÂN PHỐI TẠI NÔNG SẢN ZENO</span>
                        </strong>
                    </span>
                </h3>
                <p>
                    <strong>Nông sản Zeno</strong>
                    luôn đặt tiêu chí an toàn và chất lượng là phương châm phấn đấu hàng đầu.
                    100% các sản phẩm mà chúng tôi cung cấp đều được kiểm nghiệm lâm sàng đảm bảo không hóa chất,
                    không chất bảo quản và có giấy tờ chứng minh nguồn gốc xuất xứ rõ ràng trước khi đưa ra thị trường tiêu thụ. Hàng tháng, hàng quý,
                    các chuyên gia của Zeno đều về các nông trường – nơi cung cấp hàng hóa cho công ty để triển khai kỹ thuật trồng và khái thác sản phẩm theo tiêu chuẩn VietGap,
                    đảm bảo nguồn hàng khi tới tay người tiêu dùng đảm bảo chất lượng nhất.
                </p>
                <p>
                    Các sản phẩm tại Nông sản Zeno chia là 6 dòng sản phẩm chính:
                    <strong>
                        Dòng sản phẩm Đồ khô, tươi; Hạt dinh dưỡng; Hạt giống; Trà, thuốc các loại; Nông Sản Nhập Khẩu; Nông Sản Trong Nước.
                    </strong>
                    Khách hàng có thể tìm hiểu thêm về các sản phẩm tại …
                </p>
                <h3>
                    <strong>
                        CƠ HỘI TRỞ THÀNH ĐẠI LÝ PHÂN PHỐI CỦA NÔNG SẢN ZENO
                    </strong>
                </h3>
                <p>
                    Ra mắt thị trường từ năm 2022, nhưng
                    <strong>Nông sản Zeno</strong>
                    đã khẳng định tên tuổi và vươn lên top đầu các thương hiệu cung cấp thực phẩm khô, đặc sản vùng miền chất lượng cao, uy tín tại Việt Nam.
                    Đến nay, hệ thống phân phối do Zeno tạo dựng ngày một lớn mạnh, trải dài khắp cả nước.
                </p>
                <p>
                    Để có thể phân phối các sản phẩm truy xuất nguồn gốc, an toàn, chất lượng cao rộng rãi đến khách hàng,
                    công ty luôn mong muốn được hợp tác cùng với các siêu thị, cửa hàng thực phẩm sạch, các đơn vị chuyên sỉ lẻ thực phẩm khô,…
                    trên toàn quốc với nhiều chính sách hợp lý, đảm bảo quyền lợi khi tham gia làm đại lý của Zeno.
                </p>
                <h3>
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 120%;">
                        <strong>
                            <span style="color: #282828;">
                                QUYỀN LỢI KHI THAM GIA HỆ THỐNG ĐẠI LÝ PHÂN PHỐI NÔNG SẢN ZENO:
                            </span>
                        </strong>
                    </span>
                </h3>
                <p>1. Chính sách đại lý linh hoạt với mức chiết khấu tốt</p>
                <p>2. Được tư vấn, training kỹ năng, hỗ trợ thông tin về sản phẩm (catalogue, tờ rơi, banner,…) chính sách của công ty, các chương trình marketing, các tài liệu thúc đẩy bán hàng.</p>
                <p>3. Hỗ trợ Marketing, chăm sóc khách hàng</p>
                <p>4. Đại lý được cấp giấy chứng nhận và được niêm yết địa chỉ trên trang Web, Facebook của Nông sản Zeno.</p>
                <p>5. Chính sách khen thưởng áp dụng linh hoạt khi đạt doanh số tốt</p>
                <p>6. Được tham gia các chương trình đua doanh số, hỗ trợ bán hàng</p>
                <p>7. Mức chiết khấu cao, lên đến 30% đơn hàng.</p>
                <p>Khách hàng có thể tìm hiểu thêm về các sản phẩm của Zeno tại:</p>
                <p>– Website:</p>
                <p>– Facebook:</p>
                <p>Trên đây là một số chính sách bao gồm quyền lợi và trách nhiệm của khách hàng khi trở thành nhà phân phối, đại lý của Zeno. Quý khách hàng có nguyện vọng tham gia kênh phân phối dòng sản phẩm Nông sản Zeno xin vui lòng liên hệ tới người phụ trách để được hỗ trợ:</p>
                <p>Mr Zeno:</p>
                <p>Sđt: 0908756432</p>
                <p>Emai: <u>nongsanzeno@gmail.com</u></p>
                <p>****************</p>
                <p>Thông tin chi tiết vui lòng liên hệ:</p>
                <p>Nhà phân phối: CÔNG TY TNHH NÔNG SẢN ZENO</p>
                <p>Đ/c: 475A Điện Biên Phủ, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</p>
                <p>Đ/c: SHTP, Đ. D1, Long Thạnh Mỹ, Thành phố thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
                <p>Đ/c: 10/80C XL Hà Nội, Phường Tân Phú, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
                <p>SĐT: 0908756432</p>
            </div>
        </div>
    </div>
</div>

<style>
    .page-wrapper {
        padding-top: 50px;
        padding-bottom: 30px
    }

    .row {
        max-width: 1200px;
        width: 100%;
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .col{
        position: relative;
        margin: 0;
        padding: 0 15px 30px;
        width: 100%;
    }

    .col-inner {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    .col:first-child .col-inner {
        margin-left: auto;
        margin-right: 0;
    }

    h2 {
        font-size: 1.6em;
        line-height: 1.3;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5em;
        text-rendering: optimizeSpeed;
    }

    h3 {
        font-weight: 300;
        font-size: 1.25em;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5em;
        text-rendering: optimizeSpeed;
        isplay: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: justify;
        word-spacing: 1.5px;
        line-height: 1.5;
    }
</style>