
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/home.css">
<div id="ttr_page" class="container">
    <div class="ttr_banner_slideshow">
    </div>

    <div class="ttr_banner_slideshow">
    </div>
    <div id="ttr_content_and_sidebar_container">
        <div id="ttr_content">
            <div id="ttr_content_margin" class="container-fluid">
                <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                <div class="ttr_Home_html_row0 row">
                    <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ttr_Home_html_column00">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0em 0em 0.71em 0em;text-align:Center;"><span style="font-weight:700;font-size:3.286em;color:saddlebrown;">Chào Mừng Bạn Đến Với </span><span style="font-weight:700;font-size:3.286em;color:saddlebrown;"> Tiệm Bánh Sugar !!!</span></p><p style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.76056338028169;"><span style="color:rgba(105,105,105,1);">Được Thành Lập Vào Tháng 5 Năm 2022 Với 4 Thành Viên Cực Kì Tâm Huyết, Sugar Bakery Tự Tin Là Một Trong Những Tiệm Bánh Hàng Đầu Ở TP.HCM, Với Mong Muốn Đem Lại Cho Khách Hàng Những Chiếc Bánh Tươi Ngon Mới Ra Lò Và Giá Thành Hợp Lý.</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>

                <div class="ttr_Home_html_row3 row">
                    <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ttr_Home_html_column30">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.36em 0em 0.36em 0em;text-align:Center;font-family:'Playball','Arial';"><span style="font-family:'Courgette','Arial';font-weight:700;font-size:3.429em;color:rgba(255,255,255,1);">"Sugar Bakery luôn mong muốn khách hàng sẽ nhận được những chiếc bánh ngon nhất, </span></p><p style="margin:0.36em 0em 0.36em 0em;text-align:Center;font-family:'Playball','Arial';"><span style="font-family:'Courgette','Arial';font-weight:700;font-size:3.429em;color:rgba(255,255,255,1);">Giúp khách hàng ngon miệng. "</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>

                <section class="review">

                    <div class="box">
                        <div class="user">
                            <img src="~/images/img/av1.png" alt="">
                            <div class="info">
                                <h3> Lê Quang Dũng</h3>
                                <span>Quận Bình Thạnh</span>
                                <div class="right-bottom" style="color:black">
                                    <a href="https://www.facebook.com/profile.php?id=100011623531587"><img src="~/images/contact/fbbb.jpg"></a>
                                    <a href="https://www.instagram.com/l_qdung/"><img src="~/images/contact/ig.jpg"></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <p>Đầu bếp chính</p>
                    </div>

                    <div class="box">
                        <div class="user">
                            <img src="~/images/img/ava2.png" alt="">
                            <div class="info">
                                <h3>Trương Đinh Trường</h3>
                                <span>Quận 9</span>
                                <div class="right-bottom" style="color:black">
                                    <a href="https://www.facebook.com/truongdinh.truong61/"><img src="~/images/contact/fbbb.jpg"></a>
                                    <a href="https://www.instagram.com/_iamtdt/"><img src="~/images/contact/ig.jpg"></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <p>Ông chủ</p>
                    </div>

                    <div class="box">
                        <div class="user">
                            <img src="~/images/img/pic-3.png" alt="">
                            <div class="info">
                                <h3>Nguyễn Minh Quân </h3>
                                <span>Quận 1</span>
                                <div class="right-bottom" style="color:black">
                                    <a href="https://m.facebook.com/100010677090101/"><img src="~/images/contact/fbbb.jpg"></a>
                                    <a href="https://www.instagram.com/_iamtdt/"><img src="~/images/contact/ig.jpg"></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <p>Nhân viên nhiệt tình</p>
                    </div>

                    <div class="box">
                        <div class="user">
                            <img src="~/images/img/ava.png" alt="">
                            <div class="info">
                                <h3>Nguyễn Vương Gia Huy</h3>
                                <span>Quận Thủ Đức</span>
                                <div class="right-bottom" style="color:black">
                                    <a href="https://www.facebook.com/huy420"><img src="~/images/contact/fbbb.jpg"></a>
                                    <a href="https://www.instagram.com/huy_420_/"><img src="~/images/contact/ig.jpg"></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <p>Nhân Viên Tư Vấn , Hỗ Trợ </p>
                    </div>

                </section>

            </div>
        </div>
        <div style="clear:both">
        </div>
    </div>
    <div style="height:0px;width:0px;overflow:hidden;"></div>

    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
</div>
<script type="text/javascript">
    WebFontConfig = {
        google: { families: ['Open+Sans:700', 'Handlee:700', 'Playball', 'Courgette:700', 'Courgette', 'Handlee', 'Open+Sans'] }
    };
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>
<!-- custom js file link -->
<script src="~/Scripts/main.js"></script>