<a href="@Url.Action("Giohang","GioHang")" class="ttr_menu_items_parent_link" style="font-size: 16px; color: #4e4e22"><i class="fa fa-shopping-basket" style="font-size:24px"></i>(@ViewBag.TongSoLuong)</a>
