
@{
    ViewBag.Title = "GioHangNull";
    Layout = "~/Views/Layout/_LayoutGioHang.cshtml";
}

<div class="_31hl3N">
    <div>
        <div class="cart-page-header-wrapper container-wrapper">
            <div class="container">
                <div style="display: flex; align-items: center;">
                    <div class="cart-page-header">
                        <a class="cart-page-logo" href="/">
                            <div></div>
                            <svg viewBox="0 0 192 65" class="shopee-svg-icon icon-shopee-logo">
                                <g fill-rule="evenodd">
                                    <a href="@Url.Action("TrangChu","Home")" target="_self">
                                        <img class="ttr_menu_logo" src="~/images/logo.png" style="width:75px; height:56px">
                                    </a>
                                </g>
                            </svg>
                            <div class="cart-page-logo__page-name" style="margin-top:0.9rem">
                                Giỏ hàng
                                <a href="@Url.Action("NongSanZeno", "SanPham")" target="_self"></a>
                            </div>
                        </a>
                    </div>
                    <div class="cart-page-searchbar">
                        <div class="shopee-searchbar" role="combobox" aria-expanded="false" aria-owns="shopee-searchbar-listbox">
                            <div class="shopee-searchbar__main">
                                <form role="search" class="shopee-searchbar-input" autocomplete="off">
                                    <input aria-label="SIÊU HỘI CHÍNH HÃNG -50% !!" class="shopee-searchbar-input__input" maxlength="128" placeholder="TÌM SẢN PHẨM TRONG GIỎ HÀNG !!" autocomplete="off" aria-autocomplete="list" aria-controls="shopee-searchbar-listbox" value="">
                                </form>
                            </div>
                            <button type="button" class="btn btn-solid-primary btn--s btn--inline shopee-searchbar__search-button">
                                <svg height="19" viewBox="0 0 19 19" width="19" class="shopee-svg-icon">
                                    <g fill-rule="evenodd" stroke="none" stroke-width="1">
                                        <g transform="translate(-1016 -32)">
                                            <g>
                                                <g transform="translate(405 21)">
                                                    <g transform="translate(611 11)">
                                                        <path d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z"></path>
                                                        <path d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="_1fP0AH _2tKeYb">
                    <div class="_1g-4gk"></div>
                    <div class="h9wsC4">Giỏ hàng của bạn còn trống</div>
                    <a class="_35zxc9" href="@Url.Action("SanPham","NongSanZeno")">
                        <button class="shopee-button-solid shopee-button-solid--primary">
                            <span class="_3SCpTT">MUA NGAY</span>
                        </button>
                    </a>
                </div>
                <div style="display: contents;">
                    <div class="_03zJAw"></div>
                </div>
            </div>
        </div>
        <div class="container">
        </div>
    </div>
</div>