<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/LoginUser/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/LoginUser/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/LoginUser/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/LoginUser/css/style.css">

    <title>Nông Sản Zeno</title>
</head>
<body>
    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('../../content/LoginUser/images/bg_1.jpg'); "></div>

        <div class="contents">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    @*khung đăng nhập*@
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div>
                                @RenderBody()
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/LoginUser/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/LoginUser/js/popper.min.js"></script>
    <script src="~/Content/LoginUser/js/bootstrap.min.js"></script>
    <script src="~/Content/LoginUser/js/main.js"></script>
</body>
</html>