<!DOCTYPE html>

<html dir="ltr" lang="vi">
<head>
    <title>Giỏ Hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1240,shrink-to-fit=no">
    <meta name="shopee:git-sha" content="e5d239214aed0b07b89117865f871c165df6a5e3">
    <meta name="shopee:version" content="pc-v5.26.0">
    <link rel="preload" href="~/Content/Cart/bundle.771defbd521b8480.css" as="style" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/webpack-runtime.2a12239ada5ee50b.js" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/785.0e338541bc71e4db.js" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/bundle.d708e928e3fd455c.js" data-modern="true">
    <script data-webfe="config">
        window.__PAGE_ID__ = 1;
        window.__LOCALE__ = 'VN';
        window.__ENV__ = 'live';
        window.__ASSETS__ = { "DL_ENABLED_MALL_REGIONS": ["SG", "MY", "ID", "TH", "VN", "PH", "TW"], "FESTIVAL_SKIN_V2": { "data": [{ "id": 25, "name": "26 Oct - 12 Nov", "start": 1666717200, "end": 1668272399, "status": "ongoing", "visibility": true, "mtime": null, "operator": null, "mobile": { "category_image": null, "daily_discover_image": null, "timer": null, "custom_header_array": [{ "header_name": "CATEGORY", "image": null, "color": "#EE4D2D", "display_width": null, "display_height": null, "background_image": null }, { "header_name": "DAILY_DISCOVER", "image": null, "color": "#EE4D2D", "display_width": null, "display_height": null, "background_image": null }], "display": 1, "header_color": null, "apply_to_pc": false }, "pc": { "logo": null, "banner": null, "timer": null, "custom_header_array": null, "display": 0, "header_color": null, "key_visual_height": null }, "navbar": { "background_image_standard": "d6a667ef4cd580ed58e81ff36d9bcfb4", "background_image_long": "4caaeea30a97f6aa8ec879b0d0ed0a72", "color": "white", "display": 1 } }], "error": null, "error_messages": null, "error_msg": null }, "MART_CONFIG": { "shop": { "shopid": 469064007, "username": "shopee_supermarket" }, "header": { "bg_color": "#005dc7" } }, "PAGE_MANIFEST": { "pcmall-addondeal-aod": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/13675/asset-VN-live.aefafdc263a4f07d5d469db4c39ea899.json", "pcmall-addondeal-pwg": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/16833/asset-VN-live.6faa24024003e6cde1129195a93136f5.json", "pcmall-addondeal-pwp": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/16701/asset-VN-live.075a7366b6f7df1aa5d7286423434e45.json", "pcmall-allcampaigns": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/1854/asset-VN-live.b1060af926ef3be4c99661fb941174ca.json", "pcmall-bundledeal": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/6950/asset-VN-live.98bb00d9484841db42c98f6341904036.json", "pcmall-cart": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/2355/asset-VN-live.c36ec49781c46e7b80c839aec70fb8d0.json", "pcmall-casedispute": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/30257/asset-VN-live.9010d74000a0c06ad5620d1205d4caca.json", "pcmall-categorypage": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/25512/asset-VN-live.b094e7f1e89b180b703236ccf51eaec9.json", "pcmall-checkout": null, "pcmall-coins": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/32474/asset-VN-live.5c57d5668c26e45480078fe10383cdba.json", "pcmall-coinsrewardpage": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/4693/asset-VN-live.0021633b73437eb9adb87931e351837f.json", "pcmall-crmpage": null, "pcmall-dailycheckin": ["https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/dailycheckin/main.26c6de67b6d93caba936.css", "https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/dailycheckin/main.73be7ec07b750f8c4b07.js"], "pcmall-ebcomponents-mb": null, "pcmall-ebcomponents-quiz": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/30941/asset-VN-live.8ce8730666e64183a1be8e7bb5af7219.json", "pcmall-ebcomponents-voting": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/32107/asset-VN-live.cb536d9c1ebd3761be5907f99e0ae24e.json", "pcmall-entrycollectionlanding": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/26981/asset-VN-live.4e33618fa5373a8c9e55df92a3d71e95.json", "pcmall-flashsale": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/7299/asset-VN-live.0fee6ee48a0bca84bd81ecec619c8095.json", "pcmall-flashsale-entry": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/7432/asset-VN-live.245657345162701458f6fc794f0e617a.json", "pcmall-flashsale-mart-entry": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/7563/asset-VN-live.275be47d6cb00d68c9335c671d990395.json", "pcmall-flashsale-mart-landing": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/7623/asset-VN-live.2447af3fed3d87fb7b40ac9c60749519.json", "pcmall-flashsale-microsite": null, "pcmall-flashsalesoldout": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/31123/asset-VN-live.1297dba85393f0e11a0c352f81567828.json", "pcmall-formmanagement": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/30651/asset-VN-live.42ccf44cc22004fd293a2597427c5a05.json", "pcmall-groupbuy": ["https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/groupbuy/pcmall-groupbuy.23252a2ae64a26489ece.js"], "pcmall-homepage": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/23037/asset-VN-live.faf916694871ea724d29ee6e57b381cc.json", "pcmall-intermediate": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22370/asset-VN-live.be928922da9b635ba6b78cf1972b74f5.json", "pcmall-itemcard": null, "pcmall-mall-brand-list-page": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/26400/asset-VN-live.b34d5a7ef110a2bf3261d5c3b4df8ae1.json", "pcmall-mall-landing-page": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/26211/asset-VN-live.481df76951b378453d0e0f4a4fc8970a.json", "pcmall-mallbrands": null, "pcmall-malllanding": null, "pcmall-mart-categorylandingpage": null, "pcmall-mart-dealspage": null, "pcmall-mart-homepage": null, "pcmall-marthomepage": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/18537/asset-VN-live.db9127328a085c3c2e93b7c62c5c0944.json", "pcmall-microsite": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/24491/asset-VN-live.18b5ab503303dd812abd31cd9f9ac120.json", "pcmall-paymentfe": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/2255/asset-VN-live.e3a26314e85bd84652da6acf9793f95a.json", "pcmall-pcpagevoucherdetail": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/21062/asset-VN-live.75f8c3d1256625d67cb53c7e3a851aec.json", "pcmall-pdp": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/15906/asset-VN-live.24b128e648a3a15a230b0eb226728cfe.json", "pcmall-productcollectionlanding": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/26884/asset-VN-live.50891b6bcbc7549415d6438e3d1160dd.json", "pcmall-productdetailspage": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/32907/asset-VN-live.35808b126903d8e17c837b0b6c57d600.json", "pcmall-productshopvoucher": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22772/asset-VN-live.07923ea687baae489993c6031ea732b4.json", "pcmall-productshopvouchers": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22678/asset-VN-live.c441ba975471c94541e251d66d0d783d.json", "pcmall-rcmd-cart-ymal": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22952/asset-VN-live.dcebbd2c200ee9acc16ac247e367ca54.json", "pcmall-rcmd-cart-ymal-page": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/24788/asset-VN-live.bcde2ca0095e5a02889d28a71f4ddade.json", "pcmall-rcmd-daily-discover-module": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/35409/asset-VN-live.e71a691c26e642d307dc978c7cdf129b.json", "pcmall-rcmd-daily-discover-page": null, "pcmall-rcmd-flash-sale-sold-out-page": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/33300/asset-VN-live.68233b8910d95e019346e3718d3ee52d.json", "pcmall-rcmd-mart-buy-again-module": null, "pcmall-rcmd-mart-buy-again-page": null, "pcmall-rcmd-mart-recommendation-module": null, "pcmall-rcmd-mart-recommendation-page": null, "pcmall-rcmd-pdp-ftss": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/33391/asset-VN-live.33d11291daa706fefa310dd69fc4eecf.json", "pcmall-rcmd-pdp-sp": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/33583/asset-VN-live.89f6dcb7a40d56db081a85c84ef1f41d.json", "pcmall-rcmd-pdp-ymal": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/33490/asset-VN-live.e4008f5e5e6ae4720f94e3f5410946c3.json", "pcmall-rcmd-shop-hot-deals-page": null, "pcmall-rcmd-shop-rfy-page": null, "pcmall-recommendcartvoucherspc": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/21924/asset-VN-live.65e06f61f055a490f95c438aef561337.json", "pcmall-recommendshopvoucherlistpc": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/21874/asset-VN-live.33abac8192b661ce0ad5e2a1baf1b922.json", "pcmall-return": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/30567/asset-VN-live.91907ef66e242bc17b2a7b1a2e000ff1.json", "pcmall-returnevidence": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/34260/asset-VN-live.429c14a5732dfe5c1c7a44b587d82def.json", "pcmall-sclp": { "version": 1, "assets": {}, "legacy": { "js": ["https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/sclp/pcmall-sclp.97983cf38644c7eb20d9.js"], "css": ["https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/sclp/pcmall-sclp.070433ad96fcf226a26e.css"] }, "modern": { "js": ["https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/sclp/pcmall-sclp.97983cf38644c7eb20d9.js"], "css": ["https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/sclp/pcmall-sclp.070433ad96fcf226a26e.css"] } }, "pcmall-sellervoucher": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22629/asset-VN-live.2ffcc4cfe73b756b327ff6341a7a1927.json", "pcmall-sellervoucherlist": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22501/asset-VN-live.6f47dae4d4564831fe8d649ebdc3bb87.json", "pcmall-shopcollectionlanding": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/26691/asset-VN-live.67ced08507aca4a33c910d0b7790c287.json", "pcmall-shopcustompage": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/34080/asset-VN-live.152914aa06e0629c71b45487a394992b.json", "pcmall-shopmicrofe": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/4786/asset-VN-live.9dd83eef91736cefeafd3257fc0c6724.json", "pcmall-shoprating": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/23307/asset-VN-live.ce967539f8b842a8ce8e5a2b6a491b95.json", "pcmall-useraccount": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/27945/asset-VN-live.6143fc6c37201aed91b8f7d6a5acb245.json", "pcmall-voucherproductfocusedui": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22192/asset-VN-live.ac02b590a63fae2e65f6baf9f2346412.json", "pcmall-voucherwallet": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/21747/asset-VN-live.19988c5f1443cdc631c5f260adca53ed.json", "pcmall-voucherwalletmodalpc": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/22107/asset-VN-live.58ae87e02d2eb2be40c40311575596b1.json", "pcmall-voucherwalletvoucherpreview": "https://deo.shopeemobile.com/shopee/stm-sg-live/webfe-rp-assets/23579/asset-VN-live.a571bea7d8b263f99db17b9a39fe296a.json" }, "TRANSIFY_COLLECTION_MAPPING": { "en-live-106": 1667184510, "en-live-110": 1655981629, "en-live-115": 1655981629, "en-live-119": 1666778300, "en-live-12": 1655981629, "en-live-120": 1655981629, "en-live-121": 1655981629, "en-live-122": 1655981629, "en-live-124": 1661245207, "en-live-125": 1655981629, "en-live-127": 1658480839, "en-live-134": 1657694310, "en-live-135": 1655981629, "en-live-137": 1657685110, "en-live-139": 1655981629, "en-live-144": 1655981629, "en-live-146": 1655981629, "en-live-148": 1666074333, "en-live-149": 1658722250, "en-live-150": 1661863765, "en-live-153": 1666767110, "en-live-154": 1655981629, "en-live-156": 1655981629, "en-live-157": 1655981629, "en-live-159": 1666774034, "en-live-168": 1655981629, "en-live-175": 1656408025, "en-live-176": 1666166772, "en-live-177": 1655981629, "en-live-178": 1664900134, "en-live-179": 1664877711, "en-live-188": 1655981629, "en-live-205": 1655981629, "en-live-207": 1655981629, "en-live-208": 1655981629, "en-live-212": 1655981629, "en-live-213": 1657174722, "en-live-22": 1660544955, "en-live-225": 1662001619, "en-live-226": 1655981629, "en-live-227": 1664442578, "en-live-23": 1655981629, "en-live-232": 1662001676, "en-live-24": 1655981629, "en-live-247": 1655981629, "en-live-25": 1655981629, "en-live-251": 1655981629, "en-live-252": 1655981629, "en-live-26": 1655981629, "en-live-262": 1655981629, "en-live-264": 1655981629, "en-live-266": 1655981629, "en-live-267": 1655981629, "en-live-274": 1655981629, "en-live-28": 1620289785, "en-live-281": 1655981629, "en-live-284": 1666166722, "en-live-286": 1655981629, "en-live-289": 1655981629, "en-live-293": 1661998638, "en-live-309": 1655981629, "en-live-313": 1659414261, "en-live-315": 1655981629, "en-live-327": 1665548407, "en-live-331": 1655981629, "en-live-34": 1657259124, "en-live-347": 1659926069, "en-live-35": 1666767567, "en-live-353": 1655981629, "en-live-356": 1657703812, "en-live-359": 1657162064, "en-live-36": 1660185822, "en-live-37": 1667202606, "en-live-371": 1634122248, "en-live-38": 1655981629, "en-live-381": 1655981629, "en-live-382": 1655981629, "en-live-39": 1655981629, "en-live-390": 1655981629, "en-live-391": 1655981629, "en-live-4": 1655981629, "en-live-41": 1663295248, "en-live-410": 1655981629, "en-live-421": 1655981629, "en-live-435": 1663057971, "en-live-439": 1655981629, "en-live-44": 1655981629, "en-live-444": 1655981629, "en-live-45": 1655981629, "en-live-451": 1658384970, "en-live-454": 1666767194, "en-live-456": 1655981629, "en-live-46": 1655981629, "en-live-460": 1655981629, "en-live-465": 1666707718, "en-live-479": 1657091510, "en-live-485": 1661747640, "en-live-486": 1659507791, "en-live-492": 1665369916, "en-live-5": 1655981629, "en-live-508": 1663145940, "en-live-516": 1657695376, "en-live-52": 1655981629, "en-live-529": 1664435670, "en-live-53": 1660720220, "en-live-533": 1663741158, "en-live-539": 1663818197, "en-live-54": 1666685782, "en-live-543": 1664374666, "en-live-546": 1666942319, "en-live-55": 1665065297, "en-live-57": 1665744593, "en-live-58": 1664786491, "en-live-59": 1655981629, "en-live-6": 1655981629, "en-live-60": 1665065262, "en-live-61": 1655981629, "en-live-63": 1660097264, "en-live-64": 1655981629, "en-live-65": 1655981629, "en-live-7": 1666865482, "en-live-70": 1655981629, "en-live-71": 1665047225, "en-live-73": 1635491828, "en-live-74": 1657237697, "en-live-76": 1666943426, "en-live-8": 1637915690, "en-live-84": 1655981629, "en-live-89": 1655981629, "en-live-94": 1655981629, "en-live-95": 1655981629, "en-live-96": 1655981629, "en-live-97": 1655981629, "en-live-99": 1655981629, "vi-live-106": 1667184510, "vi-live-110": 1655981629, "vi-live-115": 1655981629, "vi-live-119": 1666778300, "vi-live-12": 1655981629, "vi-live-120": 1655981629, "vi-live-121": 1655981629, "vi-live-122": 1655981629, "vi-live-124": 1661245207, "vi-live-125": 1655981629, "vi-live-127": 1658480839, "vi-live-134": 1657694310, "vi-live-135": 1655981629, "vi-live-137": 1657685110, "vi-live-139": 1655981629, "vi-live-144": 1655981629, "vi-live-146": 1655981629, "vi-live-148": 1655981629, "vi-live-149": 1658722250, "vi-live-150": 1661863765, "vi-live-153": 1666767110, "vi-live-154": 1655981629, "vi-live-156": 1655981629, "vi-live-157": 1655981629, "vi-live-159": 1666774034, "vi-live-168": 1655981629, "vi-live-175": 1656408025, "vi-live-176": 1666166772, "vi-live-177": 1655981629, "vi-live-178": 1664900134, "vi-live-179": 1664877711, "vi-live-188": 1655981629, "vi-live-205": 1655981629, "vi-live-207": 1655981629, "vi-live-208": 1655981629, "vi-live-212": 1655981629, "vi-live-213": 1657174722, "vi-live-22": 1655981629, "vi-live-225": 1662001619, "vi-live-226": 1655981629, "vi-live-227": 1664442578, "vi-live-23": 1655981629, "vi-live-232": 1662001676, "vi-live-24": 1655981629, "vi-live-247": 1655981629, "vi-live-25": 1655981629, "vi-live-251": 1655981629, "vi-live-252": 1655981629, "vi-live-26": 1655981629, "vi-live-262": 1655981629, "vi-live-264": 1655981629, "vi-live-266": 1655981629, "vi-live-267": 1655981629, "vi-live-274": 1655981629, "vi-live-28": 1620289785, "vi-live-281": 1655981629, "vi-live-284": 1666166722, "vi-live-286": 1656039526, "vi-live-289": 1655981629, "vi-live-293": 1661998638, "vi-live-309": 1655981629, "vi-live-313": 1659414261, "vi-live-315": 1655981629, "vi-live-327": 1665548407, "vi-live-331": 1655981629, "vi-live-34": 1657259124, "vi-live-347": 1659926069, "vi-live-35": 1666767567, "vi-live-353": 1655981629, "vi-live-356": 1657703812, "vi-live-359": 1657162064, "vi-live-36": 1660185822, "vi-live-37": 1667202606, "vi-live-371": 1634122248, "vi-live-38": 1655981629, "vi-live-381": 1655981629, "vi-live-382": 1655981629, "vi-live-39": 1655981629, "vi-live-390": 1655981629, "vi-live-391": 1655981629, "vi-live-4": 1655981629, "vi-live-41": 1663295248, "vi-live-410": 1655981629, "vi-live-421": 1655981629, "vi-live-435": 1663057971, "vi-live-439": 1655981629, "vi-live-44": 1655981629, "vi-live-444": 1655981629, "vi-live-45": 1655981629, "vi-live-451": 1658384970, "vi-live-454": 1666767194, "vi-live-456": 1655981629, "vi-live-46": 1655981629, "vi-live-460": 1655981629, "vi-live-465": 1666707718, "vi-live-479": 1657091510, "vi-live-485": 1661747640, "vi-live-486": 1659507791, "vi-live-492": 1665369916, "vi-live-5": 1655981629, "vi-live-508": 1663145940, "vi-live-516": 1657695376, "vi-live-52": 1655981629, "vi-live-529": 1664435670, "vi-live-53": 1660720220, "vi-live-533": 1663741158, "vi-live-539": 1663818197, "vi-live-54": 1666685782, "vi-live-543": 1664374666, "vi-live-546": 1666942319, "vi-live-55": 1665065297, "vi-live-57": 1665744593, "vi-live-58": 1664766611, "vi-live-59": 1655981629, "vi-live-6": 1655981629, "vi-live-60": 1665065262, "vi-live-61": 1655981629, "vi-live-63": 1660554724, "vi-live-64": 1655981629, "vi-live-65": 1655981629, "vi-live-7": 1666865482, "vi-live-70": 1655981629, "vi-live-71": 1665047225, "vi-live-73": 1635491828, "vi-live-74": 1657237697, "vi-live-76": 1666943426, "vi-live-8": 1637915690, "vi-live-84": 1655981629, "vi-live-89": 1655981629, "vi-live-94": 1655981629, "vi-live-95": 1655981629, "vi-live-96": 1655981629, "vi-live-97": 1655981629, "vi-live-99": 1655981629 }, "USER_STATIC_TOGGLE": { "af_sap_sdk": true, "af_sap_legacy": true, "use_anti_crawler_api_protection_sdk": true, "context_action_account_v2": false, "standalone_security_sdk": true, "standalone_fetch_utils": true, "fetch_account_v2": true, "fetch_account_v4": true, "account_payment_migrate": true, "account_info_sync_fetch_server_pc": true, "account_info_sync_fetch_server_rw": true, "account_info_sync_fetch_server_lite": true, "account_info_sync_fetch_client_pc": true, "account_info_sync_fetch_client_rw": true, "account_info_sync_fetch_client_lite": true, "account_redux_invalid_server_state_report_pc": false, "account_redux_invalid_server_state_report_rw": false, "account_redux_invalid_server_state_report_lite": false, "signup_otp_zalo_web": { "default": { "default": { "default": true } } }, "login_otp_zalo_web": { "default": { "default": { "default": true } } }, "authentication_login_by_otp_redux_otp_api_v4": { "default": { "default": { "default": true } } }, "user_login_by_otp_signup_login_api_v4": { "default": { "default": { "default": true } } }, "authentication_bind_otp_zalo_web": { "default": { "default": { "default": true } } }, "authentication_third_party_migrate_pc_rw": { "default": { "default": { "default": true } } }, "authentication_social_bind_account_otp_api_v4": { "default": { "default": { "default": true } } }, "otp_shared_service_otp_zalo_web": { "default": { "default": { "default": true } } }, "lite_fetch_account_v4": false } };
        /*__asset_override__*/
    </script>
    <script>!function () { if (self.document) { var e = self.document.createElement("script"), t = "noModule" in e, n = t; Object.defineProperty(self, "SUPPORT_MODULE", { get: function () { return n }, configurable: !1, enumerable: !1 }), !t && "onbeforeload" in e && (self.document.addEventListener("beforeload", (function (t) { if (t.target === e) n = !0; else if (!t.target.hasAttribute("nomodule") || !n) return; t.preventDefault() }), !0), e.type = "module", e.src = ".", self.document.head.appendChild(e), e.remove()) } }();</script>
    <script nomodule>document.documentMode <= 10 && location.replace("/unsupported.html")</script>
    <script nomodule src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/polyfill-legacy.001061db45c9310f.legacy.js"></script>
    <script>!function () { var t = document && document.querySelector('script[type^="text/shopee-short-url-checked"]'), e = !(!t || "1" !== t.textContent), o = (location && location.origin || "").replace(/^(https?:\/\/)lite\./, (function (t, e) { return e })); function n() { document && document.body && (document.body.style.visibility = "visible") } function a(t, e) { void 0 === e && (e = !1); var a = function (t) { var e = document.createElement("a"); return e.href = t, { pathname: e.pathname, hash: e.hash, search: e.search, protocol: e.protocol } }(t), r = a.pathname, i = a.hash; if (e && (document && document.body && (document.body.style.visibility = "hidden"), setTimeout(n, 5e3)), "/" !== r && !function (t) { return "/supermarket" === t || "/supermarket/" === t }(r) && function (t) { return 1 === t.split("/").filter(Boolean).length }(r) && r.length < 256 && "" === i && 0 === r.lastIndexOf("/")) { var s = new XMLHttpRequest; s.open("GET", o + "/api/v4/pages/is_short_url/?path=" + r.replace("/", "")), s.setRequestHeader("Content-Type", "application/json"), s.setRequestHeader("Accept", "application/json"), s.onreadystatechange = function () { if (4 === this.readyState) if (200 === this.status) { var t = JSON.parse(this.responseText); t && t.data && t.data.url ? (console.log("Redirecting via short url to: res.data.url"), location.href = t.data.url) : e && n() } else e && n() }, s.send() } } var r = window.history.pushState; window.history.pushState = function () { var t = arguments[2]; t && a(t), r.apply(history, arguments) }; var i = window.history.replaceState; window.history.replaceState = function () { var t = arguments[2]; t && a(t), i.apply(history, arguments) }, e || a(location.href, !0) }();</script>
    <script>if (window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }, ga.l = +new Date, window.PerformanceObserver) try { var observer = new window.PerformanceObserver((function (e) { for (var r = e.getEntries(), n = 0; n < r.length; n++) { var a = r[n], i = a.name, t = Math.round(a.startTime + a.duration); ga("send", { hitType: "timing", timingCategory: "Performance Metrics", timingVar: i, timingValue: t }) } })); observer.observe({ entryTypes: ["paint"] }) } catch (e) { }</script>
    <script>"loading" in HTMLImageElement.prototype ? document.addEventListener("DOMContentLoaded", (function () { document.querySelectorAll("img[loading].lazyload").forEach((function (e) { e.src = e.dataset.src })) })) : document.write('<script type="text/javascript" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/polyfill.6eeeee64c6017caa.js"><\/script>')</script>
    <script>window.MutationObserver || document.write('<script type="text/javascript" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/polyfill.909f7922f04e46f7.js"><\/script>')</script>
    <script>"IntersectionObserver" in window && "IntersectionObserverEntry" in window && "intersectionRatio" in window.IntersectionObserverEntry.prototype && "isIntersecting" in window.IntersectionObserverEntry.prototype || document.write('<script type="text/javascript" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/polyfill.e74248e871a636a1.js"><\/script>')</script>
    <script>!function () { var e = document.createElement("div").style; e.setProperty && e.setProperty("--x", "x"), e.getPropertyValue && "x" === e.getPropertyValue("--x") || (document.write('<script type="text/javascript" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/polyfill.0b761ff65aca5425.js"><\/script>'), document.write("<script>window.cssVars({preserveVars:!0,watch:!0});<\/script>")) }()</script>
    <link type="application/opensearchdescription+xml" rel="search" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/b25e10cdd951cc747e7eec62679d438f.xml">
    <link rel="dns-prefetch" href="//cf.shopee.vn/">
    <link rel="dns-prefetch" href="//deo.shopeemobile.com/shopee/">
    <link rel="dns-prefetch" href="//cv.shopee.vn/">
    <script src="https://deo.shopeemobile.com/shopee/shopee-trackingsdk-live-sg/index.js"></script>
    <script id="gtm-script" data-locale="vn" data-gtm-id="GTM-WJZQSJF">!function (t, e, a, n) { t[n] = []; var o = ["PL", "ES"].indexOf(__LOCALE__) >= 0, r = o ? "denied" : "granted"; !function () { dataLayer.push(arguments) }("consent", "default", { consent_analytical: r, consent_functional: r, consent_advertising: r, consent_thirdparty_google: r, consent_thirdparty_tiktok: r, wait_for_update: o ? 15e3 : 0 }); var d = document.currentScript || document.getElementById("gtm-script"); if (d) { var i = d.getAttribute("data-locale"), c = d.getAttribute("data-gtm-id"), s = d.getAttribute("data-delay-load"), u = "", g = 0; s && (u = "delay", g = 5e3), t[n] = t[n] || []; var m = Date.now(), _ = { "gtm.start": m, event: "gtm.js", country: i }; u && (_.userGroup = u), t[n].push(_); var l = !1; t.__shopeeLoadGTM = function () { l || (l = !0, g = Math.max(0, Math.min(g, g - (Date.now() - m))), setTimeout((function () { var t = e.getElementsByTagName(a)[0], n = e.createElement(a); n.async = !0, n.src = "https://www.googletagmanager.com/gtm.js?id=" + c, t.parentNode.insertBefore(n, t) }), g)) }, o || t.__shopeeLoadGTM() } }(window, document, "script", "dataLayer");</script>
    <link rel="stylesheet" data-modern="true" href="~/Content/Cart/bundle.771defbd521b8480.css">
    @*<link rel="stylesheet" href="~/Content/Cart/bundle.771defbd521b8480.css">*@
    <link rel="stylesheet" href="~/Content/Cart/pcmall-cart.ee62cb54bf1e830aff03.css">
    <link rel="stylesheet" href="~/Content/Cart/x3.65c58097.50478c53b08055d3ddc5.css">
    <link rel="stylesheet" href="~/Content/Cart/9148.2239f6440e3346ae.css">
    <link rel="stylesheet" href="~/Content/Cart/6185.e976c928ead1b370.css">
</head>
<body style="visibility: visible;">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJZQSJF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="main">
        <style id="nebula-style">
            :root {
                --nc-primary: #ee4d2d;
                --nc-primary-bg: #fef6f5;
                --nc-primary-gradient: linear-gradient(#ee4d2d,#ff7337);
                --nc-secondary-blue: #0046ab;
                --nc-secondary-yellow: #eda500;
                --nc-secondary-green: #26aa99;
                --nc-error: #ee2c4a;
                --nc-error-bg: #fff4f4;
                --nc-caution: #f69113;
                --nc-caution-bg: #fff8e4;
                --nc-success: #30b566;
                --nc-success-bg: #f7fffe;
                --nc-text-primary: rgba(0,0,0,.87);
                --nc-text-primary-o: #212121;
                --nc-text-secondary: rgba(0,0,0,.65);
                --nc-text-secondary-o: #595959;
                --nc-text-tertiary: rgba(0,0,0,.54);
                --nc-text-tertiary-o: #757575;
                --nc-text-link: #0088ff;
                --nc-util-mask: rgba(0,0,0,.4);
                --nc-util-disabled: rgba(0,0,0,.26);
                --nc-util-disabled-o: #bdbdbd;
                --nc-util-line: rgba(0,0,0,.09);
                --nc-util-line-o: #e8e8e8;
                --nc-util-bg: #f5f5f5;
                --nc-util-placeholder: #fafafa;
                --nc-util-pressed: rgba(0,0,0,.05);
                --nt-font-regular-f: -apple-system,'HelveticaNeue','Helvetica Neue','Roboto','Droid Sans',Arial,sans-serif;
                --nt-font-regular-w: 400;
                --nt-font-medium-f: -apple-system,'HelveticaNeue-Medium','Helvetica Neue','Roboto','Droid Sans',Arial,sans-serif;
                --nt-font-medium-w: 500;
                --nt-font-bold-f: -apple-system,'HelveticaNeue-Bold','Helvetica Neue','Roboto','Droid Sans','Arial Bold',Arial,sans-serif;
                --nt-font-bold-w: 700;
                --nt-size-foot: .625rem;
                --nt-size-foot-l: .75rem;
                --nt-size-foot-lp: .75rem;
                --nt-size-foot-t: 1rem;
                --nt-size-foot-tp: 1rem;
                --nt-size-small: .75rem;
                --nt-size-small-l: .875rem;
                --nt-size-small-lp: 1.25rem;
                --nt-size-small-t: 1.125rem;
                --nt-size-small-tp: 1.125rem;
                --nt-size-normal: .875rem;
                --nt-size-normal-l: 1rem;
                --nt-size-normal-lp: 1.25rem;
                --nt-size-normal-t: 1.375rem;
                --nt-size-normal-tp: 1.375rem;
                --nt-size-large: 1rem;
                --nt-size-large-l: 1.25rem;
                --nt-size-large-lp: 1.375rem;
                --nt-size-large-t: 1.5rem;
                --nt-size-large-tp: 1.5rem;
                --nt-size-title: 1.25rem;
                --nt-size-title-l: 1.5rem;
                --nt-size-title-lp: 1.5rem;
                --nt-size-title-t: 1.875rem;
                --nt-size-title-tp: 1.875rem;
                --ns-a: .25rem;
                --ns-b: .5rem;
                --ns-c: .75rem;
                --ns-d: 1rem;
                --ns-e: 1.25rem;
                --ns-f: 1.5rem;
                --ns-g: 2.5rem;
                --ne-depth6: 0 0 .375rem rgba(0,0,0,.06);
                --ne-depth9: 0 0 .5625rem rgba(0,0,0,.12);
                --nr-normal: .125rem;
                --nr-overlay: .25rem
            }

            .nt-foot {
                font-size: var(--nt-size-foot,.625rem);
                line-height: var(--nt-size-foot-t,1rem)
            }

            .nt-foot-p {
                font-size: var(--nt-size-foot,.625rem);
                line-height: var(--nt-size-foot-tp,1rem)
            }

            .nt-small {
                font-size: var(--nt-size-small,.75rem);
                line-height: var(--nt-size-small-t,1.125rem)
            }

            .nt-small-p {
                font-size: var(--nt-size-small,.75rem);
                line-height: var(--nt-size-small-tp,1.125rem)
            }

            .nt-normal {
                font-size: var(--nt-size-normal,.875rem);
                line-height: var(--nt-size-normal-t,1.375rem)
            }

            .nt-normal-p {
                font-size: var(--nt-size-normal,.875rem);
                line-height: var(--nt-size-normal-tp,1.375rem)
            }

            .nt-large {
                font-size: var(--nt-size-large,1rem);
                line-height: var(--nt-size-large-t,1.5rem)
            }

            .nt-large-p {
                font-size: var(--nt-size-large,1rem);
                line-height: var(--nt-size-large-tp,1.5rem)
            }

            .nt-title {
                font-size: var(--nt-size-title,1.25rem);
                line-height: var(--nt-size-title-t,1.875rem)
            }

            .nt-title-p {
                font-size: var(--nt-size-title,1.25rem);
                line-height: var(--nt-size-title-tp,1.875rem)
            }

            .nt-regular {
                font-family: var(--nt-font-regular-f,-apple-system,'HelveticaNeue','Helvetica Neue','Roboto','Droid Sans',Arial,sans-serif);
                font-weight: var(--nt-font-regular-w,400)
            }

            .nt-medium {
                font-family: var(--nt-font-medium-f,-apple-system,'HelveticaNeue-Medium','Helvetica Neue','Roboto','Droid Sans',Arial,sans-serif);
                font-weight: var(--nt-font-medium-w,500)
            }

            .nt-bold {
                font-family: var(--nt-font-bold-f,-apple-system,'HelveticaNeue-Bold','Helvetica Neue','Roboto','Droid Sans','Arial Bold',Arial,sans-serif);
                font-weight: var(--nt-font-bold-w,700)
            }
        </style>
        <div>
            <section class="lF2jXb" tabindex="-1">
                <button class="stardust-button u6BOJM" tabindex="10000">
                    <span class="zV2jR+">bỏ qua nội dung chính</span>
                </button>
            </section>
            <div class="shopee-progress-bar"></div>
            <div style="display: contents;">
                <header class="shopee-top container-wrapper">
                    <div class="navbar-wrapper container-wrapper navbar-wrapper--without-search">
                        <nav class="container navbar">
                            <div class="flex v-center FAQGyh">
                                <a href="" target="_blank" rel="noopener noreferrer" class="_2TLLZP ZUq1cc">Nhà Cung Cấp</a>@*gán link trang đăng ký nhà cung cấp*@
                                <div class="shopee-drawer ZUq1cc" id="pc-drawer-id-0">
                                    <a class="_2TLLZP" href="/web/" target="_blank" rel="noopener noreferrer" id="temporaryId">Tải ứng dụng</a>
                                </div>
                                <div class="flex _2TLLZP ZUq1cc HniJJe">Kết nối</div>
                                <div class="flex _2TLLZP FK3705">
                                    <a class="D7dyDc header-navbar-background header-navbar-facebook-png" href="https://www.facebook.com/truongdinh.truong61" target="_blank" rel="noopener noreferrer" title="Kết nối Facebook"></a>
                                    <a href="https://www.instagram.com/_iamtdt/" target="_blank" rel="noopener noreferrer" class="VR+xYc header-navbar-background header-navbar-instagram-png" title="Kết nối Instagram!"></a>
                                </div>
                            </div>
                            <div class="navbar__spacer"></div>
                            <ul class="navbar__links">
                                <li class="navbar__link--notification navbar__link navbar__link--hoverable navbar__link--tappable">
                                    <div class="stardust-popover" id="stardust-popover2" tabindex="0">
                                        <div role="button" class="stardust-popover__target">
                                            <a class="W-2aSq" tabindex="-1" href="/user/notifications/order">
                                                <svg viewBox="3 2.5 14 14" x="0" y="0" class="shopee-svg-icon icon-notification-2">
                                                    <path d="m17 15.6-.6-1.2-.6-1.2v-7.3c0-.2 0-.4-.1-.6-.3-1.2-1.4-2.2-2.7-2.2h-1c-.3-.7-1.1-1.2-2.1-1.2s-1.8.5-2.1 1.3h-.8c-1.5 0-2.8 1.2-2.8 2.7v7.2l-1.2 2.5-.2.4h14.4zm-12.2-.8.1-.2.5-1v-.1-7.6c0-.8.7-1.5 1.5-1.5h6.1c.8 0 1.5.7 1.5 1.5v7.5.1l.6 1.2h-10.3z"></path>
                                                    <path d="m10 18c1 0 1.9-.6 2.3-1.4h-4.6c.4.9 1.3 1.4 2.3 1.4z"></path>
                                                </svg>
                                                <div class="e326xl RaV0lX c1uTz+">1</div>
                                                <span class="i4da+9">Thông báo</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <a class="navbar__link navbar__link--tappable navbar__link--hoverable navbar__link--help" href="https://help.shopee.vn/vn/s" target="_blank" rel="noopener noreferrer" tabindex="0">
                                    <div class="navbar__help-center-icon">
                                        <svg height="16" viewBox="0 0 16 16" width="16" class="shopee-svg-icon icon-help-center">
                                            <g fill="none" fill-rule="evenodd" transform="translate(1)">
                                                <circle cx="7" cy="8" r="7" stroke="currentColor"></circle>
                                                <path fill="currentColor" d="m6.871 3.992c-.814 0-1.452.231-1.914.704-.462.462-.693 1.089-.693 1.892h1.155c0-.484.099-.858.297-1.122.22-.319.583-.473 1.078-.473.396 0 .715.11.935.33.209.22.319.517.319.902 0 .286-.11.55-.308.803l-.187.209c-.682.605-1.1 1.056-1.243 1.364-.154.286-.22.638-.22 1.045v.187h1.177v-.187c0-.264.055-.506.176-.726.099-.198.253-.396.462-.572.517-.451.825-.737.924-.858.275-.352.418-.803.418-1.342 0-.66-.22-1.188-.66-1.573-.44-.396-1.012-.583-1.716-.583zm-.198 6.435c-.22 0-.418.066-.572.22-.154.143-.231.33-.231.561 0 .22.077.407.231.561s.352.231.572.231.418-.077.572-.22c.154-.154.242-.341.242-.572s-.077-.418-.231-.561c-.154-.154-.352-.22-.583-.22z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="navbar__link-text navbar__link--tappable navbar__link--hoverable">Hỗ Trợ</span>
                                </a>
                                <li class="navbar__link--notification navbar__link navbar__link--hoverable navbar__link--tappable">
                                    <div class="stardust-popover" id="stardust-popover0" tabindex="0">
                                        <div role="button" class="stardust-popover__target">
                                            <div class="n1sJN5">
                                                <div class="UkG+ar">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.00065 14.6667C11.6825 14.6667 14.6673 11.6819 14.6673 8.00004C14.6673 4.31814 11.6825 1.33337 8.00065 1.33337C4.31875 1.33337 1.33398 4.31814 1.33398 8.00004C1.33398 11.6819 4.31875 14.6667 8.00065 14.6667Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M5.33464 8.00004C5.33464 11.6819 6.52854 14.6667 8.0013 14.6667C9.47406 14.6667 10.668 11.6819 10.668 8.00004C10.668 4.31814 9.47406 1.33337 8.0013 1.33337C6.52854 1.33337 5.33464 4.31814 5.33464 8.00004Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M1.33398 8H14.6673" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </div>
                                                <span class="UfAWnk">Tiếng Việt</span>
                                                @*<span class="UfAWnk">English</span>*@
                                                <svg viewBox="0 0 12 12" fill="none" width="12" height="12" color="currentColor">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 8.146L11.146 3l.707.707-5.146 5.147a1 1 0 01-1.414 0L.146 3.707.854 3 6 8.146z" fill="currentColor"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="navbar__link navbar__link--tappable navbar__link--hoverable navbar__link--account">
                                    <div class="stardust-popover" id="stardust-popover1" tabindex="0">
                                        <div role="button" class="stardust-popover__target">
                                            <div class="navbar__link--account__container">
                                                <div class="shopee-avatar">
                                                    <div class="shopee-avatar__placeholder">
                                                        <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot">
                                                            <g>
                                                                <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                                                                <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <img class="shopee-avatar__img" src="https://cf.shopee.vn/file/a79273da4ba63074f758aca5888d28b2_tn">
                                                </div>
                                                <div class="navbar__username">
                                                    <a style="color:white" href="@Url.Action("profile","user")">@Session["User"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <div>
                    @RenderBody()
                </div>
            </div>
            <div></div>
            <div class="u+rzIW" id="BackgroundImagePortalAnchor"></div>
        </div>
    </div>
</body>
</html>
