@using NongSanZeno.Models
@using PagedList.Mvc;
@model PagedList.PagedList<tbDonHang>

@{
    ViewBag.Title = "purchase";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}
<div class="xMDeox">
    <div class="GBcYbK">
        <div></div>
        <div class="_0obGFe">
            <a class="vAkdD0" href="/user/purchase/type=1">
                <span class="_0rjE9m">Tất cả</span>
            </a>
            <a class="vAkdD0" href="/user/purchase/type=2">
                <span class="_0rjE9m">Chờ xác nhận</span>
            </a>
            <a class="vAkdD0" href="/user/purchase/type=3">
                <span class="_0rjE9m">Chờ lấy hàng</span>
            </a>
            <a class="vAkdD0" href="/user/purchase/type=4">
                <span class="_0rjE9m">Đang giao</span>
            </a>
            <a class="vAkdD0" href="/user/purchase/type=5">
                <span class="_0rjE9m">Đã giao</span>
            </a>
            <a class="vAkdD0" href="/user/purchase/type=6">
                <span class="_0rjE9m">Đã Hủy</span>
            </a>
            <a class="vAkdD0" href="/user/purchase/type=7">
                <span class="_0rjE9m">Trả hàng/Hoàn tiền</span>
            </a>
        </div>
        <div></div>
        <div class="Tfo7DW">
            <svg width="19px" height="19px" viewBox="0 0 19 19">
                <g id="Search-New" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="my-purchase-copy-27" transform="translate(-399.000000, -221.000000)" stroke-width="2">
                        <g id="Group-32" transform="translate(400.000000, 222.000000)">
                            <circle id="Oval-27" cx="7" cy="7" r="7"></circle>
                            <path d="M12,12 L16.9799555,16.919354" id="Path-184" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <input autocomplete="off" placeholder="Tìm kiếm theo Tên Sản Phẩm hoặc đơn hàng" value="">
        </div>
        <div>
            @foreach (var item in Model)
            {
                <div class="tF2pJg">
                    <div>
                        <div class="_6nAGBW">
                            <div class="_1ox39j">
                                <div class="_9bLyA+">
                                    <svg width="17" height="16" viewBox="0 0 17 16" class="Vqonym">
                                        <path d="M1.95 6.6c.156.804.7 1.867 1.357 1.867.654 0 1.43 0 1.43-.933h.932s0 .933 1.155.933c1.176 0 1.15-.933 1.15-.933h.984s-.027.933 1.148.933c1.157 0 1.15-.933 1.15-.933h.94s0 .933 1.43.933c1.368 0 1.356-1.867 1.356-1.867H1.95zm11.49-4.666H3.493L2.248 5.667h12.437L13.44 1.934zM2.853 14.066h11.22l-.01-4.782c-.148.02-.295.042-.465.042-.7 0-1.436-.324-1.866-.86-.376.53-.88.86-1.622.86-.667 0-1.255-.417-1.64-.86-.39.443-.976.86-1.643.86-.74 0-1.246-.33-1.623-.86-.43.536-1.195.86-1.895.86-.152 0-.297-.02-.436-.05l-.018 4.79zM14.996 12.2v.933L14.984 15H1.94l-.002-1.867V8.84C1.355 8.306 1.003 7.456 1 6.6L2.87 1h11.193l1.866 5.6c0 .943-.225 1.876-.934 2.39v3.21z" stroke-width=".3" stroke="#333" fill="#333" fill-rule="evenodd"></path>
                                    </svg>
                                    <div class="mzsqa6">Nông Sản Zeno</div>
                                    <div class="D7N1XL">
                                        @*<button class="stardust-button stardust-button--primary">
                                                <svg viewBox="0 0 17 17" class="shopee-svg-icon icon-btn-chat" style="fill: white;">
                                                    <g fill-rule="evenodd">
                                                        <path d="M13.89 0C14.504 0 15 .512 15 1.144l-.003.088-.159 2.117.162.001c.79 0 1.46.558 1.618 1.346l.024.15.008.154v9.932a1.15 1.15 0 01-1.779.963l-.107-.08-1.882-1.567-7.962.002a1.653 1.653 0 01-1.587-1.21l-.036-.148-.021-.155-.071-.836h-.01L.91 13.868a.547.547 0 01-.26.124L.556 14a.56.56 0 01-.546-.47L0 13.429V1.144C0 .512.497 0 1.11 0h12.78zM15 4.65l-.259-.001-.461 6.197c-.045.596-.527 1.057-1.106 1.057L4.509 11.9l.058.69.01.08a.35.35 0 00.273.272l.07.007 8.434-.001 1.995 1.662.002-9.574-.003-.079a.35.35 0 00-.274-.3L15 4.65zM13.688 1.3H1.3v10.516l1.413-1.214h10.281l.694-9.302zM4.234 5.234a.8.8 0 011.042-.077l.187.164c.141.111.327.208.552.286.382.131.795.193 1.185.193s.803-.062 1.185-.193c.225-.078.41-.175.552-.286l.187-.164a.8.8 0 011.042 1.209c-.33.33-.753.579-1.26.753A5.211 5.211 0 017.2 7.4a5.211 5.211 0 01-1.706-.28c-.507-.175-.93-.424-1.26-.754a.8.8 0 010-1.132z" fill-rule="nonzero"></path>
                                                    </g>
                                                </svg>
                                                <span>chat</span>
                                            </button>*@
                                    </div>
                                </div>
                                <div class="WPNwG4">
                                    <div class="l4WFo0">@*Đã đánh giá*@</div>
                                </div>
                            </div>
                            <div class="_60q+NM"></div>
                            <a href="/purchase/product">
                                @* xem chi tiết đơn hàng  *@
                                <div class="giUtSy">
                                    <div class="vdofqJ">
                                        <div>
                                            <span class="QkIuzE">
                                                <div></div>
                                                <div class="hDGdsD">
                                                    <div class="_50XPwl">
                                                        <div class="shopee-image__wrapper">
                                                            <div class="shopee-image__place-holder">
                                                                <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-loading-image">
                                                                    <g>
                                                                        <rect fill="none" height="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10" x="1" y="4.5"></rect>
                                                                        <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" x2="11" y1="6.5" y2="6.5"></line>
                                                                        <rect fill="none" height="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="3" x="11" y="6.5"></rect>
                                                                        <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" x2="11" y1="14.5" y2="14.5"></line>
                                                                        <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6" x2="6" y1=".5" y2="3"></line>
                                                                        <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3.5" x2="3.5" y1="1" y2="3"></line>
                                                                        <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" x2="8.5" y1="1" y2="3"></line>
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                            <div class="shopee-image__content" style="background-image: url('../../images/sanpham/cherry5.jpg')">
                                                                <div class="shopee-image__content--blur"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tODfT4">
                                                        <div>
                                                            <div class="QJqUaT">
                                                                <span class="WVc4Oc">ten san pham</span>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="_9ca9GU"></div>
                                                            <div class="qGisqd">x1 số lượng</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="+QRFJX">
                                                    <div>
                                                        <span class="ghw9hb">₫1.000 thành tiền</span>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="_472J0A"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="oPVPPp"></div>
                        </div>
                    </div>
                    <div class="CqYika">
                        <div class="oDBmi- n012K3"> </div>
                        <div class="oDBmi- b-VPB8"> </div>
                    </div>
                    <div class="KinvoL">
                        <div class="BAMNqz">
                            <span class="_2FYYuf">
                                <div class="_4lEPJ1">
                                    <svg width="16" height="17" viewBox="0 0 253 263" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M126.5 0.389801C126.5 0.389801 82.61 27.8998 5.75 26.8598C5.08763 26.8507 4.43006 26.9733 3.81548 27.2205C3.20091 27.4677 2.64159 27.8346 2.17 28.2998C1.69998 28.7657 1.32713 29.3203 1.07307 29.9314C0.819019 30.5425 0.688805 31.198 0.689995 31.8598V106.97C0.687073 131.07 6.77532 154.78 18.3892 175.898C30.003 197.015 46.7657 214.855 67.12 227.76L118.47 260.28C120.872 261.802 123.657 262.61 126.5 262.61C129.343 262.61 132.128 261.802 134.53 260.28L185.88 227.73C206.234 214.825 222.997 196.985 234.611 175.868C246.225 154.75 252.313 131.04 252.31 106.94V31.8598C252.31 31.1973 252.178 30.5414 251.922 29.9303C251.667 29.3191 251.292 28.7649 250.82 28.2998C250.35 27.8358 249.792 27.4696 249.179 27.2225C248.566 26.9753 247.911 26.852 247.25 26.8598C170.39 27.8998 126.5 0.389801 126.5 0.389801Z" fill="#ee4d2d"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M207.7 149.66L119.61 107.03C116.386 105.472 113.914 102.697 112.736 99.3154C111.558 95.9342 111.772 92.2235 113.33 88.9998C114.888 85.7761 117.663 83.3034 121.044 82.1257C124.426 80.948 128.136 81.1617 131.36 82.7198L215.43 123.38C215.7 120.38 215.85 117.38 215.85 114.31V61.0298C215.848 60.5592 215.753 60.0936 215.57 59.6598C215.393 59.2232 215.128 58.8281 214.79 58.4998C214.457 58.1705 214.063 57.909 213.63 57.7298C213.194 57.5576 212.729 57.4727 212.26 57.4798C157.69 58.2298 126.5 38.6798 126.5 38.6798C126.5 38.6798 95.31 58.2298 40.71 57.4798C40.2401 57.4732 39.7735 57.5602 39.3376 57.7357C38.9017 57.9113 38.5051 58.1719 38.1709 58.5023C37.8367 58.8328 37.5717 59.2264 37.3913 59.6604C37.2108 60.0943 37.1186 60.5599 37.12 61.0298V108.03L118.84 147.57C121.591 148.902 123.808 151.128 125.129 153.884C126.45 156.64 126.797 159.762 126.113 162.741C125.429 165.72 123.755 168.378 121.363 170.282C118.972 172.185 116.006 173.221 112.95 173.22C110.919 173.221 108.915 172.76 107.09 171.87L40.24 139.48C46.6407 164.573 62.3785 186.277 84.24 200.16L124.49 225.7C125.061 226.053 125.719 226.24 126.39 226.24C127.061 226.24 127.719 226.053 128.29 225.7L168.57 200.16C187.187 188.399 201.464 170.892 209.24 150.29C208.715 150.11 208.2 149.9 207.7 149.66Z" fill="#fff"></path>
                                    </svg>
                                </div>
                            </span>
                            <div class="Ge6yU5">Tổng số tiền:</div>
                            <div class="TDMlX1">₫@String.Format("{0:0,0 }", item.TongTien) tổng tiền</div>
                        </div>
                    </div>
                    <div class="_1ERzqw">
                        <div class="cLwmWY">
                            <span class="ZQEJyY">Nhận hàng ngày: @String.Format("{0:dd/MM/yyyy}", item.NgayGiao)</span>
                        </div>
                        <div class="NIZAp8">
                            <div class="_8vTqu9">
                                <button class="stardust-button stardust-button--primary Kz9HeM">Mua lại</button>
                            </div>
                            <div class="VN6h8+">
                                <button class="stardust-button stardust-button--secondary Kz9HeM">Xem đánh giá</button>
                            </div>
                            <div class="VN6h8+">
                                <button class="stardust-button stardust-button--secondary Kz9HeM">Chi Tiết Đơn Hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="_4jsMAm">
            <div class="shopee-page-controller">
                <div class="pagination modal-4">
                    @Html.PagedListPager(Model, page => Url.Action("purchase", new { page = page }))
                </div>
            </div>
        </div>
        <div>
            <div class="spinner-container">
                <div class="stardust-spinner">
                    <div class="stardust-spinner__background stardust-spinner__background--no-overlay">
                        <div class="stardust-spinner__main" role="img">
                            <svg width="34" height="12" viewBox="-1 0 33 12">
                                <circle class="stardust-spinner__spinner" cx="4" cy="6" r="4" fill="#EE4D2D"></circle>
                                <circle class="stardust-spinner__spinner" cx="16" cy="6" r="4" fill="#EE4D2D"></circle>
                                <circle class="stardust-spinner__spinner" cx="28" cy="6" r="4" fill="#EE4D2D"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pagination {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 10px;
        text-align: center
    }

        .pagination li {
            display: inline;
            text-align: center;
        }

        .pagination a {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 5px 12px;
            color: #fff;
            margin-left: -1px;
            border: 1px solid transparent;
            line-height: 1.5;
        }

            .pagination a.active {
                cursor: default;
            }

            .pagination a:active {
                outline: none;
            }

    .modal-4 a {
        margin: 0 5px;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        background-color: #F7C12C;
        text-align: center;
    }

        .modal-4 a.prev {
            -moz-border-radius: 50px 0 0 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px 0 0 50px;
            width: 100px;
        }

        .modal-4 a.next {
            -moz-border-radius: 0 50px 50px 0;
            -webkit-border-radius: 0;
            border-radius: 0 50px 50px 0;
            width: 100px;
        }

        .modal-4 a:hover {
            background-color: #FFA500;
        }

        .modal-4 a.active, .modal-4 a:active {
            background-color: #FFA100;
        }
</style>