@model NongSanZeno.Models.tbNhaCungCap

@{
    ViewBag.Title = "SuaNcc";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/Content/Admin/admin.css">

<h2 style="font-size: 26px; text-align: center;">Điều Chỉnh Thông Tin Nhà Cung Cấp</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNCC)
        <div class="form-group">
            Tên Nhà Cung Cấp:
            <div class="col-md-10">
                <input required type="text" name="TenNCC" value="@Model.TenNCC" />
            </div>
        </div>

        <div class="form-group">
            <div><input style="font-weight: bold" type="submit" value="Lưu" class="btn btn-default" /></div>
            <div class="btn btn-default" style="font-weight:bold; color:white"><a href="/AdminSanPham/DSnhacungcap">Quay Lại</a></div>
        </div>
    </div>
}