@model NongSanZeno.Models.tbNhom

@{
    ViewBag.Title = "Themnsp";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/Content/Admin/admin.css">

<h2 style="text-align:center">THÊM NHÓM SẢN PHẨM</h2>
<hr />

@using (Html.BeginForm("Thembanhkem", "AdminSanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Tên Nhóm Sản Phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNhom)
                @Html.ValidationMessageFor(model => model.TenNhom)
            </div>
        </div>
        
        <div class="form-group">
            <div><input style="font-weight: bold" type="submit" value="Thêm Mới" class="btn btn-default" /></div>
            <div class="btn btn-default" style="font-weight:bold; color:white"><a href="/AdminSanPham/DSnhomsanpham">Quay Lại</a></div>
        </div>

    </div>
}