@model IEnumerable<NongSanZeno.Models.tbLoaiSanPham>

@*<h2 style="text-align:center">LOẠI NÔNG SẢN</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("SPTheoLoai", "NongSanZeno", new {id = item.MaLoaiSP})" class="list-group-item">
                @item.TenLoaiSP
            </a>
        </li>
    }
</ul>*@
@foreach (var item in Model)
{
    <div class="shopee-filter shopee-checkbox-filter">
        <div class="shopee-checkbox">
            <label class="shopee-checkbox__control">               
                <input type="checkbox" name="" value="11036279">
                <div class="shopee-checkbox__box"><i>&ensp;</i></div>
                <a href="@Url.Action("SPTheoLoai", "NongSanZeno", new {id = item.MaLoaiSP})">
                    <span class="shopee-checkbox__label" style="color:black">@item.TenLoaiSP</span>
                </a>

            </label>
        </div>
    </div>
}